<html>
<head>
	<link href="../css/shared.css" rel="stylesheet" type="text/css" />
	<link href="../css/conversation.overview.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="wrapper">
		<div class="head">
			<a href="?back" class="back v-center"></a>
			<form class="h-center">
				<span class="title">QUESTIONS</span>
				<a href="?plus" class="plus"></a>
				<span class="sort">Sort by <a class="active" href="?srt=recent">recent</a> or <a href="?srt=hot">hot</a></span>
				<span class="where">
					<input type="radio" name="w" value="shelf">My shelf
					<input type="radio" name="w" value="questions">All questions
				</span>
				<br />
				<input class="search" type="text" name="s" value="Search questions" />
				<input class="submit" type="submit" value="SEARCH" />
			</form>
		</div>
		<div class="container">
			<div class="body">
				<article>
					<div class="head">
						<div class="portrait" style="background-image:url(../img/portraits/4.png)"></div>
						<div class="info">
							<span class="person">Eva</span><span class="source">is asking</span><br />
							<p class="title">Will insulin make my patient gain weight?</p>
						</div>
					</div>
					<div class="body">
						<div class="card source">
							<p class="title">asked</p>
						</div>
						<div class="card activities">
							<div><span class="center-v">3</span></div>
							<p class="title">more activities</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/5.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/3.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/1.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card answer">
							<div class="portrait" style="background-image:url(../img/portraits/8.png)"></div>
							<p class="title">answered</p>
						</div>
					</div>
					<div class="side">
						<a class="related"><span class="count">1</span> related discussion</a>
						<a class="involved"><span class="count">6</span> peers involved</a>
						<a class="conversations"><span class="count">3</span> conversation</a>
					</div>
				</article>
				<article>
					<div class="head">
						<div class="portrait" style="background-image:url(../img/portraits/7.png)"></div>
						<div class="info">
							<span class="person">Andrew</span><span class="source">is asking</span><br />
							<p class="title">Vegan diet in diabetes treatment</p>
						</div>
					</div>
					<div class="body">
						<div class="card source">
							<p class="title">asked</p>
						</div>
						<div class="card activities">
							<div><span class="center-v">6</span></div>
							<p class="title">more activities</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/1.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/7.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/2.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card answer">
							<div class="portrait" style="background-image:url(../img/portraits/3.png)"></div>
							<p class="title">answered</p>
						</div>
					</div>
					<div class="side">
						<a class="related"><span class="count">2</span> related discussion</a>
						<a class="involved"><span class="count">9</span> peers involved</a>
						<a class="conversations"><span class="count">5</span> conversation</a>
					</div>
				</article>
				<article>
					<div class="head">
						<div class="portrait" style="background-image:url(../img/portraits/7.png)"></div>
						<div class="info">
							<span class="person">Joseph</span><span class="source">is asking</span><br />
							<p class="title">Vegan diet to stop diebetes progress</p>
						</div>
					</div>
					<div class="body">
						<div class="card source">
							<p class="title">asked</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/2.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card comment">
							<div class="portrait" style="background-image:url(../img/portraits/3.png)"></div>
							<p class="title">commented</p>
						</div>
						<div class="card answer">
							<div class="portrait" style="background-image:url(../img/portraits/4.png)"></div>
							<p class="title">answered</p>
						</div>
					</div>
					<div class="side">
						<a class="related"><span class="count">5</span> related discussion</a>
						<a class="involved"><span class="count">4</span> peers involved</a>
						<a class="conversations"><span class="count">0</span> conversation</a>
					</div>
				</article>
				<article class="footer">
					<a href="load" class="load center-v">load more questions</a>
				</article>
			</div>
		</div>
	</div>
</body>
</html>